<ion-header>
  <ion-navbar color="navbar">
    <ion-title>Eventi</ion-title>
    <button ion-button color="#fff" menuToggle> <ion-icon name="menu"></ion-icon></button>
  </ion-navbar>
</ion-header>


<ion-content style="background: #424B54;">
<!--<button ion-button full icon-left (click)="getlistaeventi()" color="#C4D4F4"><ion-icon name="menu"></ion-icon>Carica Eventi</button>
<button ion-button full icon-left (click)="prv()" color="secondary"><ion-icon name="menu"></ion-icon>Carica Eventi</button> -->
 
<ion-list padding>
	    <ion-card full *ngFor="let new of listanews" style="background: #424B54;" (click)="itemTapped($event, new)">
	    	<img src="{{new.image.url}}">
	    	<ion-card-header text-wrap>
	    		<h2 [innerHTML]="new.title"></h2>
	    	</ion-card-header>
	    	<ion-card-content text-wrap>
	    		<ul>
	    			<li>
	    				inizio: {{displayData(new.start_date)}}
	    			</li>
	    			<li>
	    				fine: {{displayData(new.end_date)}}
	    			</li>
	    		</ul>


			<!--	<div [innerHTML]="new.description"></div> -->
	    	</ion-card-content>
	    </ion-card>
</ion-list>	
 
</ion-content>
