<ion-header>

  <ion-navbar color="navbar">
    <ion-title>Dettaglio Evento</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
	<ion-card>
		<img src="{{selectedItem.image.url}}">
		<ion-card-header text-wrap>
			<h1 [innerHTML]="selectedItem.title"></h1>
		</ion-card-header>
		<ion-card-content text-wrap>
			<div [innerHTML]="selectedItem.description"></div>	
		</ion-card-content>
		
	</ion-card>
</ion-content>
