<ion-header>

  <ion-navbar color="navbar">
    <ion-title>Dettaglio News</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
	<ion-card>
		<img src="{{selectedItem.better_featured_image.media_details.sizes.medium.source_url}}">
		<ion-card-header text-wrap>
		<h1 [innerHTML]="selectedItem.title.rendered"></h1>
		<h3>pubblicato {{datapubblicazione}} </h3>
		</ion-card-header>
		<ion-card-content>
		<div [innerHTML]="selectedItem.content.rendered"></div>
		</ion-card-content>
	</ion-card>
</ion-content>
