<ion-menu [content]="content">

  <ion-header>
    <div class="overlay">
        <div header-background-image padding [ngStyle]="{'background-image': 'url(' + params.background + ')'}">
                    <img [src]="params.image" width="80">
                    <h2 ion-text color="light" header-title>{{params.title}}</h2>
                    <p>{{params.description}}</p>
                    <p class="mini">{{displayName}}</p>
        </div>
    </div>
  </ion-header>

  <ion-content style="background-color: #3a3a3a;">
    <ion-list>
      <button ion-item *ngFor="let p of pages" (click)="openPage(p)" style="background-color: #5d5d5d;">
        {{p.title}}
      </button>
    </ion-list>
  </ion-content>

</ion-menu>

<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
