// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

//inserito per il menu
[header-background-image] {
    height: 200px;
    background-size: cover;
    background-position: center;
    [header-title] {
        padding-right: 10%;
    }
    img {
        position: relative;
        display: block;
        padding-top: 24px;
        max-width: 60px;
    }
    p {
        font-size: 14px;
        color: theme-colors('textColors', 'secondaryBase');
    }
}

.overlay {
	background: rgba(20,0,0,0.72);
    overflow: hidden;
    height: 100%;
    z-index: 2;
}

// esiste un modo più elegante senza usare !important ??

::-webkit-scrollbar,
*::-webkit-scrollbar {
  display: none;
}

button {
	-webkit-transition-duration: 0.4s;
	color: #ddd !important;
}

button:hover {
	background-color: #ddd !important;
	color: #000 !important;
}

ion-card {
	background: #880D1E !important;
	border-radius: 15px !important;
}

ion-content {
	background: #424B54 !important;
}

h1,h2,h3{
	color: #ddd !important;
	font-weight: bold !important;
}

p {
	font-size: 1.1em !important;
	color: #CBD4C2 !important;
}

ul li {
	color: #CBD4C2 !important;	
}